h5py
PyYAML
pandas
dotenv
openslide-python
openslide-bin
transformers
torch
torchvision
pillow
torchsummary
tqdm
loguru
google-cloud-storage
streamlit
opencv-python
matplotlib
scikit-learn
scipy
huggingface-hub
timm
fastapi
uvicorn
git+https://github.com/Mahmoodlab/CONCH.git@141cc09c7d4ff33d8eda562bd75169b457f71a62#egg=conch