h5py
PyYAML
pandas
dotenv
openslide-python
openslide-bin
transformers
torch
torchvision
torchinfo
pillow
torchsummary
tqdm
loguru
opencv-python
matplotlib
scikit-learn
imbalanced-learn
scipy
huggingface-hub
timm
comet-ml
nystrom-attention
torch-geometric
seaborn